.about {
  width: 100%;
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  gap: 3rem;
}

.about-content {
  flex: 1;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #F8F1FF; 
}

.highlight {
  color: #B6D094;
}

.about-text {
  margin-bottom: 3rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #F8F1FF; 
  margin-bottom: 1.5rem;
}

.about-text strong {
  color: #B6D094; 
}

.about-skills h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #F8F1FF; 
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.about-animation {
  flex: 1;
  display: flex;
  justify-content: center;

  margin-top: -5px;
}

.animation-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F8F1FF; 
  border-radius: 10px;
}


.animation-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #626D58;
}


@media (max-width: 1024px) {
  .about-section {
    flex-direction: column;
  }

  .about-content {
    order: 2;
  }

  .about-animation {
    order: 1;
    margin-bottom: 3rem;
  }
  
  .animation-image {
    max-width: 250px; 
  }
}